.title-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
}
.house-title {
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 80%;
}
.house-title h2 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
  margin: 0 0 16px 0;
}
.house-tags-list {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 2%;
  margin-top: 16px;
}
.tag-element {
  background-color: var(--borderColor);
  color: var(--textLightColor);
  border-radius: 8px;
  min-width: 10%;
  padding: 2px;
  text-align: center;
  font-size: 0.7rem;
}
.house-infos {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.house-owner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}
.house-owner-name {
  color: var(--textColor);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
}
.house-owner-pic img {
  border-radius: 50%;
  height: 3rem;
}
.house-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  align-items: center;
}

.house-dropdown-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
}
.house-dropdown-group.drop-container {
  width: 49%;
}

@media (max-width: 480px) {
  .title-container {
    flex-direction: column;
  }
  .house-title,
  .house-tags-list {
    width: 100%;
  }
  .house-infos {
    width: 100%;
    flex-direction: row-reverse;
  }
  .tag-element {
    min-width: 22%;
    border-radius: 4px;
    font-size: 0.5rem;
  }
  .house-owner {
    width: 25%;
  }
  .house-owner-name {
    font-size: 0.8rem;
  }
  .house-owner-pic img {
    height: 2rem;
  }
  .house-dropdown-group {
    flex-direction: column;
    gap: 1rem;
  }
  .drop-container div {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
  }
  .drop-container > div > ul {
    margin: 0;
    padding: 0 0 0.1rem 0.1rem;
  }
}
