.caroussel-container{
    position:relative;
    width:100%;
    height:24rem;
    margin-bottom: 1rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
}

.house-infos {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.house-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  align-items: center;
}

.house-dropdown-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 4%;
}
.house-dropdown-group.drop-container {
  width: 48%;
}

@media (max-width: 480px) {
.caroussel-container{
    height:18rem;
}
  .title-container {
    flex-direction: column;
  }
  .house-title,
  .house-tags-list {
    width: 100%;
  }
  .house-infos {
    width: 100%;
    flex-direction: row-reverse;
  }
  .tag-element {
    min-width: 22%;
    border-radius: 4px;
    font-size: 0.5rem;
  }
  .house-owner {
    width: 25%;
  }
  .house-owner-name {
    font-size: 0.8rem;
  }
  .house-owner-pic {
    width: 2.1rem;
  }
  .house-owner-pic img {
    height: 2rem;
  }
  .house-dropdown-group {
    flex-direction: column;
    gap: 1rem;
  }
  .drop-container div {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
  }
  .drop-container > div > ul {
    margin: 0;
    padding: 0 0 0.1rem 0.1rem;
  }
}
